@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PizzaBot Services</h1>
    <p class="lead">Application for editing menu displayed in the PizzaBot</p>
    <table>
        <tr>
            <td>
                <img src="https://i.pinimg.com/564x/f7/7c/65/f77c65fa142cbbab52a91755344d1be1.jpg" height="500" width="400" style="margin: 20px" />
            </td>
            <td>
                <img src="https://i.pinimg.com/564x/ea/2c/26/ea2c2618a680b37f78ce4a791ba77272.jpg" height="500" width="400" style="margin: 20px"/>
            </td>
        </tr>
    </table>
</div>
